.app {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media(max-width: 767px) {
  .app {
    width: 100%;
  }
}

.header {
  margin-bottom: 10px;
  text-align: center;
}

.header a {
  font-family: 'Georgia';
  font-style: italic;
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.btn-black {
  background: #000;
}

.btn-block {
  width: 100%;
}

.infinite {
  border: 2px solid #000;
}

.infinite-list-item {
  height: 40px;
  text-align: center;
  line-height: 40px;
  width: 400px;
  margin: auto;
}
