.app {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media(max-width: 767px) {
  .app {
    width: 100%;
  }
}

.btn {
  min-width: 125px;
  border: none;
  color: #fff;
  min-height: 35px;
  font-size: 15px;
  cursor: pointer;
}

.btn.black {
  background: #000;
}

@media(max-width: 767px) {
  .btn.block {
    width: 100%;
  }
}

.infinite {
  border: 2px solid #000;
}

.infinite-list-item {
    height: 40px;
    text-align: center;
    line-height: 40px;
    width: 120px;
    margin: auto;
}