/*.btn {
  border-radius: 1px;
}

.btn-outline-secondary {
  color: rgb(55, 58, 60);
}*/

html,
body,
.sans-serif {
  font-family: 'Source Sans Pro', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  cursor: pointer;
}

#content {
  margin-top: 95px;
}

.navbar .navbar-brand {
  line-height: 54px;
}

.navbar .user-name {
  margin-left: 0.5rem;
}

.dropdown-item .nav-link {
  padding-top: 0px;
  padding-bottom: 0px;
}

.card-preview {
  font-family: Georgia, serif;
}

.card-preview:hover {
  cursor: pointer;
}

.card-inverse {
  background-color: #333;
}

.card-preview .card-footer {
  font-size: 13px;
}