/*.btn {
  border-radius: 1px;
}

.btn-outline-secondary {
  color: rgb(55, 58, 60);
}*/

html,
body,
.sans-serif {
  font-family: 'Source Sans Pro', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  cursor: pointer;
}

.navbar .navbar-brand {
  line-height: 54px;
  font-weight: 700;
}

.navbar .user-name {
  margin-left: 0.5rem;
}

.dropdown-item .nav-link {
  padding-top: 0px;
  padding-bottom: 0px;
}

.card-preview {
  font-family: Georgia, serif;
  border: 1px solid #ddd;
}

.card-preview > .card-block {
  max-height: 112px;
}

.card-preview:hover {
  cursor: pointer;
  border: 1px solid #bbb;
}

.card-active  {
  background-color: #f7f7f9;
}

.card-preview .card-footer {
  font-size: 13px;
  padding: 0.5rem 1.25rem;
}